<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Freelancer</title>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>
<body>
    <header>
        <img src="~/img/TP_Freelancer_logo.jpg" class="freelance" />
        <nav>
            <a href="/Clients"><i class="fas fa-users"></i> Clients</a>
            <a href="/Missions"><i class="fas fa-coffee"></i> Missions</a>
            <a href="/Devis" class="devis"><i class="fas fa-calculator"></i> Devis & Factures</a>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <article class="lien">
            <a href="#">Ajouter</a><i class="fas fa-circle"></i>
            <a href="#">Manger</a><i class="fas fa-circle"></i>
            <a href="#">Enlever</a><i class="fas fa-circle"></i>
            <a href="#">Dormir</a><i class="fas fa-circle"></i>
            <a href="#">Jouer</a>
        </article>
        <div class="copyright">
            <span><i class="fas fa-copyright"></i> Copyright 2021 CROUZET Gabriel</span>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
